<div class="clr-row">
  <div class="clr-col-6">
    <h1 style="padding: 0; margin: 0; font-size: 26px" class="text-primary">
      Welcome to ETHIO-EU Portal
    </h1>
    <h5
      style="padding: 0; margin: 0; text-decoration: underline"
      class="text-success"
    >
      A dedicated communication channel between Ethiopia and The European Union
    </h5>

    <h6>
      This portal is designed to increase commnuication and relationship between
      the EU and Ethiopia.
    </h6>
    Potal Members will have access to different resources depending on the
    account type and location.
    <br />
    <hr />
    <ul class="list">
      <li>Buy Goods</li>
      <li>EU Scholarship (Self-paying)</li>
      <li>Semminars in the EU</li>
      <li>Other services</li>
    </ul>

    <clr-tabs>
      <clr-tab>
        <button clrTabLink id="link1">Ethiopian Members</button>
        <clr-tab-content id="content1" *clrIfActive="true">
          <div class="check">
            <br />
            <div>
              <clr-icon shape="info-standard"></clr-icon> Currently you can find
              a scholarship opportunity within the EU as a slef paying student.
            </div>

            You should know that it is really be expensive to study in some of
            the EU countries, especially as a self finance, due to this reason
            we are targeting cheap scholarships (in europe standard) and making
            it available for Msc and Phd students as well as Bsc in some cases.
            <br />
            These cheap scholarships has the benift of

            <div>
              <clr-icon shape="check"></clr-icon> 2 years resident permit (eg.
              Msc students)
            </div>
            <div>
              <clr-icon shape="check"></clr-icon> Freely and easily move within
              the EU
            </div>
            <div>
              <clr-icon shape="check"></clr-icon> Student working permit (upto
              30hrs / week)
            </div>
            <div>
              <clr-icon shape="check"></clr-icon> Chance to take new chances
            </div>
          </div>
          <br />

          <div>
            <clr-icon shape="info-standard"></clr-icon> There are semminars on
            which non-student people can travel to the EU to attend the meeting,
            which is usually 10 days.
            <span>
              You can check for updates in the list of countries section for
              scholarship applicants</span
            >
          </div>
        </clr-tab-content>
      </clr-tab>
      <clr-tab>
        <button clrTabLink>EU Members</button>
        <clr-tab-content *clrIfActive> </clr-tab-content>
      </clr-tab>
    </clr-tabs>
  </div>

  <div class="clr-col-2">
              <a href="https://hahucomputers.com" target="blank" class="card clickable" style="min-width: 30vw">
                  <div class="card-img" style="display: flex; justify-content: center; align-items: center;">
                      <img style="max-height: 30vh; max-width: 20vw" src="/assets/powered_by.png">
                  </div>
                  <div class="card-block">
                      <p class="card-text p-1" style="font-size: 12px; font-style:italic; ">
                          "We are here to deliver solutions, to design, to create and to transform your ideas to the next level, more importantly we are here to play our part on technologically transforming our world in service of humanity."
                        
                          <br>
                          "Revolutionizing Ethiopia in technological front is our vision, and we're committed to make sure that we play our role in any way possible to see this vision transform a nation."
                      </p>
                  </div>
                   <div class="card-footer" style="text-align:center;">
                    
                          HAHU Computer Engineering <br>
                          ሀሁ ኮምፒዉተር ቴክኖሎጂ እና አውቶማቲክ ስራዎች <br>
                          EU company reg. no: 69930711-1-24 <br>
                         ET Company, Address: Bahirdar, Kebele 15 
                         <section>
                              You can also check our
                              <a href="https://hahucomputers.com" class="text-primary">website</a>
                            </section>
                    </div>
                  
              </a>
  </div>
</div>
